<p>update-profile works!</p>
<div class="col-md-6 offset-md-3">
    <h3> Update User </h3>
    <form (ngSubmit) = "onSubmit()">
    
        <div class="form-group">
            <label> Full Name</label>
            <input type="text" class ="form-control" id = "fullname"
                [(ngModel)] = "user.fullname" name = "fullName">
        </div>
    
        <div class="form-group">
            <label> User Name</label>
            <input type="text" class ="form-control" id = "uname"
                [(ngModel)] = "user.uname" name = "uame">
        </div>
    
        <div class="form-group">
            <label>Password</label>
            <input type="password" class ="form-control" id = "pwd"
                [(ngModel)] = "user.pwd" name = "pwd">
        </div>

        <div class="form-group">
            <label> Email Id</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "user.email" name = "email">
        </div>
        <div class="form-group">
            <label>Mobile Number</label>
            <input type="text" class ="form-control" id = "phno"
                [(ngModel)] = "user.phno" name = "phno">
        </div>
        <div class="form-group">
            <label> Address Line 1</label>
            <input type="text" class ="form-control" id = "addressLine1"
                [(ngModel)] = "user.address.addressLine1" name = "addressLine1">
        </div>
        <div class="form-group">
            <label>Address Line 2</label>
            <input type="text" class ="form-control" id = "addressLine2"
                [(ngModel)] = "user.address.addressLine2" name = "addressLine2">
        </div>
        <div class="form-group">
            <label> City</label>
            <input type="text" class ="form-control" id = "city"
                [(ngModel)] = "user.address.city" name = "city">
        </div>
        <div class="form-group">
            <label> Pin Code</label>
            <input type="text" class ="form-control" id = "pinCode"
                [(ngModel)] = "user.address.pinCode" name = "pinCode">
        </div>
        <div class="form-group">
            <label> State</label>
            <input type="text" class ="form-control" id = "state"
                [(ngModel)] = "user.address.state" name = "state">
        </div>
        <div class="form-group">
            <label> Country</label>
            <input type="text" class ="form-control" id = "country"
                [(ngModel)] = "user.address.country" name = "country">
        </div>
    
        <button class = "btn btn-success" type ="submit">Update</button>
    
    </form>
    </div> 